<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{info?.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancelAction()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [innerHTML]="info?.body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onAcceptAction()">{{info?.accept_button}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancelAction()">{{info?.close_button}}</button>
      </div>
    </div>
  </div>
</div>
