<ng-container>
  <div class="row mb-3 mt-3">
    <div class="col-8 ps-3">
      <button class="btn btn-primary" routerLink="/compras">&larr; Volver</button>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end pe-2">
        <h2>Compra #{{id}}</h2>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">Producto</th>
        <th scope="col">Precio Unitario</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Total</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listData">
        <tr class="text-center">
          <td>{{item?.name}}</td>
          <td>{{item?.unit_price | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
          <td>{{item?.quantity}}</td>
          <td>{{item?.total_price | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
        </tr>
      </ng-container>
      <tr class="text-center">
        <th colspan="4">Precio Total: <strong>{{total_price}}</strong></th>
      </tr>
    </tbody>
  </table>
</ng-container>
