<ng-container>
  <div class="row mb-3 mt-3">
    <div class="col-8">
      <h2>Listado de compras</h2>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" routerLink="nuevo">Nueva compra</button>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Total</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listData">
        <tr class="text-center">
          <th scope="row">{{item?.id}}</th>
          <td>{{item?.usuario}}</td>
          <td>{{item?.total | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
          <td>{{item?.fecha}}</td>
          <td><button class="btn btn-success" (click)="onDetail(item?.id)">Ver <i class="fas fa-eye"></i></button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
