<ng-container>
  <div class="row mb-3 mt-3">
    <div class="col-12 text-center">
      <h2>Logs del sistema</h2>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Acción</th>
        <th scope="col">Usuario</th>
        <th scope="col" colspan="2">Fechas creación/edición</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listData">
        <tr class="text-center">
          <th scope="row">{{item?.id}}</th>
          <td>{{item?.action}}</td>
          <td>{{item?.user}}</td>
          <td>{{item?.created_at}}</td>
          <td>{{item?.modified_at}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
