<div class="container-fluid">
  <div class="d-flex justify-content-center h-100 align-items-center">
    <!-- 404 Error Text -->
    <div class="text-center">
      <div class="error mx-auto" data-text="404">404</div>
      <p class="lead text-gray-800 mb-4">Pagina no encontrada</p>
      <p class="text-gray-500 mb-1">Ups, parece que hemos tenido un problema...</p>
      <a [routerLink]="link">&larr; Regresar</a>
    </div>
  </div>
</div>
