@import url('https://fonts.googleapis.com/css?family=Numans');

.container-fluid{
  height: 100%;
  width: 100%;
  align-content: center;
  background-image: url('/assets/img/background-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Numans', sans-serif;
}

.card{
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
  color: white;
  text-align: center;
  margin-top: 0.5rem;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn:hover{
  color: black;
  background-color: white;
}

.links{
  color: white;
  a{
    margin-left: 4px;
  }
}

.show-hide-password{
  background-color: #fff;
  border: none;
}

.input-password {
  border-right: none;
}

.label-inputs{
  color: #fff;
  margin-bottom: 0.5rem;
}

.feedback-class{
  display: block;
  color: red;
}
