<ng-container>
  <div class="row mb-3 mt-3">
    <div class="col-8">
      <h2>Listado de usuarios</h2>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" routerLink="nuevo">Nuevo usuario</button>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col" colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listData">
        <tr class="text-center">
          <th scope="row">{{item?.id}}</th>
          <td>{{item?.username}}</td>
          <td>{{item?.name}}</td>
          <td>{{item?.email}}</td>
          <td><button class="btn btn-success" (click)="onEdit(item?.id)">Editar <i class="fas fa-pen"></i></button></td>
          <td><button class="btn btn-danger" (click)="onDelete(item?.id)">Eliminar <i class="fas fa-trash"></i></button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
