<div class="card h-100 justify-content-center p-2">
  <h2 class="mb-3 text-center">Bienvenido {{usuario}}</h2>
  <div class="row">
    <ng-container *ngFor="let item of listData">
      <div class="col-4 h-100" *ngIf="item?.show">
        <div class="card">
          <img class="card-img-top" [src]="item?.url_image" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title" *ngIf="!item?.pipe">{{item?.quantity}}</h5>
            <h5 class="card-title" *ngIf="item?.pipe">{{item?.quantity | currency : 'USD' : 'symbol' : '1.0-0'}}</h5>
            <p class="card-text">{{item?.name}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
