<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="fas fa-sketch"></i>
    <span class="fs-4">Dale Marketplace</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <ng-container *ngFor="let menu of listMenus">
      <li class="nav-item" *ngIf="menu.show">
        <a [routerLink]="menu?.url" class="nav-link text-white" routerLinkActive="active" aria-current="page" [routerLinkActiveOptions]="{exact:menu.exact}">
          <i [class]="menu.icon"></i>
          {{menu.title}}
        </a>
      </li>
    </ng-container>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>Usuario</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" (click)="onLogOut()">Salir</a></li>
    </ul>
  </div>
</div>
