<ng-container>
  <div class="row mb-3 mt-3">
    <div class="col-8 ps-3">
      <button class="btn btn-primary" routerLink="/usuarios">&larr; Volver</button>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end pe-2">
        <h2>Nuevo usuario</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="newUserForm" (submit)="onRegister()">
      <label class="label-inputs" for="username">Usuario</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="username-addon"><i class="fas fa-user"></i></span>
        <input
          name="username"
          type="text"
          [ngClass]="onGetFormValues('username')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Usuario"
          aria-label="username"
          aria-describedby="username-addon"
          [formControlName]="'username'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('username')?.hasError('required') && isShowValidations">
          Por favor, diligencie un usuario.
        </div>
      </div>
      <label class="label-inputs" for="cedula">Cedula</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="cedula-addon"><i class="fas fa-user"></i></span>
        <input
          name="cedula"
          type="number"
          [ngClass]="onGetFormValues('cedula')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Nombre completo"
          aria-label="nombre-completo"
          aria-describedby="cedula-addon"
          [formControlName]="'cedula'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('cedula')?.hasError('required') && isShowValidations">
          Por favor, diligencie una cedula.
        </div>
      </div>
      <label class="label-inputs" for="telefono">Telefono</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="telefono-addon"><i class="fas fa-user"></i></span>
        <input
          name="telefono"
          type="number"
          [ngClass]="onGetFormValues('telefono')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Nombre completo"
          aria-label="nombre-completo"
          aria-describedby="telefono-addon"
          [formControlName]="'telefono'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('telefono')?.hasError('required') && isShowValidations">
          Por favor, diligencie un telefono.
        </div>
      </div>
      <label class="label-inputs" for="name">Nombre completo</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="name-addon"><i class="fas fa-user"></i></span>
        <input
          name="name"
          type="text"
          [ngClass]="onGetFormValues('name')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Nombre completo"
          aria-label="nombre-completo"
          aria-describedby="name-addon"
          [formControlName]="'name'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('name')?.hasError('required') && isShowValidations">
          Por favor, diligencie un nombre completo.
        </div>
      </div>
      <label class="label-inputs" for="email">Correo electronico</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="email-addon"><i class="fas fa-user"></i></span>
        <input
          name="email"
          type="email"
          [ngClass]="(onGetFormValues('email')?.hasError('required') || onGetFormValues('email')?.hasError('email')) && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Correo electronico"
          aria-label="correo-electronico"
          aria-describedby="email-addon"
          [formControlName]="'email'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="(onGetFormValues('email')?.hasError('required') || onGetFormValues('email')?.hasError('email')) && isShowValidations">
          Por favor, diligencie un correo valido.
        </div>
      </div>
      <label class="label-inputs" for="password">Contraseña</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="password-addon"><i class="fas fa-key"></i></span>
        <input
          name="password"
          [type]="isShowHidePassword?'text':'password'"
          [ngClass]="onGetFormValues('password')?.hasError('required') && isShowValidations?'form-control input-password is-invalid':'form-control input-password'"
          class="form-control input-password"
          placeholder="Contraseña"
          aria-label="password"
          aria-describedby="password-addon"
          [formControlName]="'password'"
        >
        <span class="input-group-text show-hide-password" id="password-addon" (click)="onShowHidePassword()"><i [class]="isShowHidePassword?'fas fa-eye-slash':'fas fa-eye'"></i></span>
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('password')?.hasError('required') && isShowValidations">
          Por favor, diligencia una contraseña.
        </div>
      </div>
      <label class="label-inputs" for="re-password">Repetir Contraseña</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="re-password-addon"><i class="fas fa-key"></i></span>
        <input
          name="password"
          [type]="isShowHideRePassword?'text':'password'"
          [ngClass]="(onGetFormValues('re_password')?.hasError('required') || onGetFormValues('re_password')?.hasError('checkPasswords')) && isShowValidations?'form-control input-password is-invalid':'form-control input-password'"
          placeholder="Repetir Contraseña"
          aria-label="re-password"
          aria-describedby="re-password-addon"
          [formControlName]="'re_password'"
        >
        <span class="input-group-text show-hide-password" id="password-addon" (click)="onShowHideRePassword()"><i [class]="isShowHideRePassword?'fas fa-eye-slash':'fas fa-eye'"></i></span>
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('re_password')?.hasError('required') && isShowValidations">
          Por favor repita la contraseña.
        </div>
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('re_password')?.hasError('checkPasswords') && isShowValidations">
          La contraseña diligenciada no coincide.
        </div>
      </div>
      <div class="d-grid gap-2 mb-3 text-center">
        <button class="btn btn-primary login_btn" type="submit">Registrarse</button>
      </div>
    </form>
  </div>
</ng-container>
