<div class="container-fluid">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Iniciar Sesión</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm" (submit)="onLogin()">
          <label class="label-inputs" for="email">Correo electronico</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="email-addon"><i class="fas fa-user"></i></span>
            <input
              name="email"
              type="email"
              class="form-control"
              placeholder="Correo electronico"
              aria-label="correo-electronico"
              aria-describedby="email-addon"
              [formControlName]="'email'"
            >
            <div class="invalid-feedback feedback-class" *ngIf="(onGetFormValues('email')?.hasError('required')|| onGetFormValues('email')?.hasError('email')) && isShowValidations">
              Por favor, diligencia un correo electronico valido.
            </div>
          </div>
          <label class="label-inputs" for="password">Contraseña</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="password-addon"><i class="fas fa-key"></i></span>
            <input
              name="password"
              [type]="isShowHidePassword?'text':'password'"
              class="form-control input-password"
              placeholder="Contraseña"
              aria-label="password"
              aria-describedby="password-addon"
              [formControlName]="'password'"
            >
            <span class="input-group-text show-hide-password" id="password-addon" (click)="onShowHidePassword()"><i [class]="isShowHidePassword?'fas fa-eye-slash':'fas fa-eye'"></i></span>
            <div class="invalid-feedback feedback-class" *ngIf="(onGetFormValues('password')?.hasError('required')) && isShowValidations">
              Por favor, diligencia una contraseña.
            </div>
          </div>
          <div class="d-grid gap-2 mb-3 text-center">
            <button class="btn btn-primary login_btn" type="submit">Iniciar Sesión</button>
          </div>
        </form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					¿No tienes una cuenta?<a routerLink="/register">¡Registrate!</a>
				</div>
			</div>
		</div>
	</div>
</div>
