<ng-container>
  <div class="row mb-3 mt-3">
    <div class="col-8 ps-3">
      <button class="btn btn-primary" routerLink="/compras">&larr; Volver</button>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end pe-2">
        <h2>Nueva compra</h2>
      </div>
    </div>
  </div>
  <div class="row mb-3 mt-3">
    <ng-container *ngFor="let item of listData">
      <div class="col-3 p-3">
        <div [class]="item?.checked?'card shadow border border-primary':'card'">
          <div (click)="onSelectProduct(item?.id)">
            <img class="card-img-top img-card-product" [src]="item?.url" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Nombre: {{item?.name}}</p>
              <p class="card-text">Descripción: {{item?.description}}</p>
              <p class="card-text">Precio: <strong>{{item?.unit_price | currency : 'USD' : 'symbol' : '1.0-0'}}</strong> Stock: <strong>{{item?.stock}}</strong></p>
            </div>
          </div>
          <div class="card-footer" *ngIf="item?.checked">
            <div class="input-group mb-3">
              <span class="input-group-text click-span" id="password-addon" (click)="onMinusQuantity(item?.id)"><i class="fas fa-minus"></i></span>
              <input
                name="password"
                type="number"
                readonly
                class="form-control input-password text-center"
                aria-label="password"
                aria-describedby="password-addon"
                [value]="item?.quantity"
              >
              <span class="input-group-text show-hide-password click-span" id="password-addon" (click)="onPlusQuantity(item?.id)"><i class="fas fa-plus"></i></span>
            </div>
            <p class="text-center">Precio total: {{item?.total_price}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <hr>
  <div class="d-grid gap-2"*ngIf="isEndShopping">
    <button class="btn btn-success" (click)="onConfirmSell()">Finalizar compra</button>
  </div>
  <app-modal *ngIf="isShowModal" [info]="bodyModal" (cancelAction)="onCancellSell()" (acceptAction)="onAcceptSell()"></app-modal>
</ng-container>
