.container-fluid{
  height: 100% !important;
  width: 100%;
  align-content: center;
  /*background-image: url('../../../assets/img/background-login.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
  font-family: 'Numans', sans-serif;
  padding-left: 0;
}

.row {
  height: 100%;
  width: 100%;
}
