<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9 mt-4 mb-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
