<ng-container>
  <div class="row mb-3 mt-3">
    <div class="col-8 ps-3">
      <button class="btn btn-primary" routerLink="/productos">&larr; Volver</button>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end pe-2">
        <h2>Editar producto #{{id}}</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="editProductoForm" (submit)="onEdit()">
      <label class="label-inputs" for="name">Nombre producto</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="name-addon"><i class="fas fa-user"></i></span>
        <input
          name="name"
          type="text"
          [ngClass]="onGetFormValues('name')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Nombre producto"
          aria-label="nombre-producto"
          aria-describedby="name-addon"
          [formControlName]="'name'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('name')?.hasError('required') && isShowValidations">
          Por favor, diligencie un nombre de producto.
        </div>
      </div>
      <label class="label-inputs" for="description">Descripción producto</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="description-addon"><i class="fas fa-user"></i></span>
        <textarea
          name="description"
          [ngClass]="onGetFormValues('description')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Descripción producto"
          aria-label="descripcion-producto"
          aria-describedby="descripcion-addon"
          [formControlName]="'description'"
          style="resize: none;"
        ></textarea>
        <br>
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('description')?.hasError('required') && isShowValidations">
          Por favor, diligencie la descripción del producto.
        </div>
      </div>
      <label class="label-inputs" for="url">Imagen producto</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="url-addon"><i class="fas fa-user"></i></span>
        <input
          name="url"
          type="text"
          placeholder="Url de la imagen"
          [ngClass]="onGetFormValues('url')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          aria-label="url-producto"
          aria-describedby="url-addon"
          [formControlName]="'url'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('url')?.hasError('required') && isShowValidations">
          Por favor, agregue una imagen al producto.
        </div>
      </div>
      <label class="label-inputs" for="stock">Stock producto</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="stock-addon"><i class="fas fa-user"></i></span>
        <input
          name="stock"
          type="number"
          [ngClass]="onGetFormValues('stock')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Stock producto"
          aria-label="stock-producto"
          aria-describedby="stock-addon"
          [formControlName]="'stock'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('stock')?.hasError('required') && isShowValidations">
          Por favor, diligencie una cantidad de stock.
        </div>
      </div>
      <label class="label-inputs" for="name">Precio Unitario producto</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="unit-price-addon"><i class="fas fa-user"></i></span>
        <input
          name="unit-price"
          type="number"
          [ngClass]="onGetFormValues('unit_price')?.hasError('required') && isShowValidations?'form-control is-invalid':'form-control'"
          placeholder="Precio Unitario producto"
          aria-label="unit-price-producto"
          aria-describedby="unit-price-addon"
          [formControlName]="'unit_price'"
        >
        <div class="invalid-feedback feedback-class" *ngIf="onGetFormValues('unit_price')?.hasError('required') && isShowValidations">
          Por favor, diligencie un precio unitario del producto.
        </div>
      </div>
      <div class="d-grid gap-2 mb-3 text-center">
        <button class="btn btn-primary login_btn" type="submit">Registrarse</button>
      </div>
    </form>
  </div>
</ng-container>
